/* tajawal-200 - arabic_latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 200;
  src: local('Tajawal ExtraLight'), local('Tajawal-ExtraLight'),
       url('tajawal-v1-arabic_latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('tajawal-v1-arabic_latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tajawal-regular - arabic_latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: local('Tajawal'), local('Tajawal-Regular'),
       url('tajawal-v1-arabic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('tajawal-v1-arabic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tajawal-500 - arabic_latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 500;
  src: local('Tajawal Medium'), local('Tajawal-Medium'),
       url('tajawal-v1-arabic_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('tajawal-v1-arabic_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tajawal-300 - arabic_latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 300;
  src: local('Tajawal Light'), local('Tajawal-Light'),
       url('tajawal-v1-arabic_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('tajawal-v1-arabic_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tajawal-700 - arabic_latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 700;
  src: local('Tajawal Bold'), local('Tajawal-Bold'),
       url('tajawal-v1-arabic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('tajawal-v1-arabic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tajawal-800 - arabic_latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 800;
  src: local('Tajawal ExtraBold'), local('Tajawal-ExtraBold'),
       url('tajawal-v1-arabic_latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('tajawal-v1-arabic_latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tajawal-900 - arabic_latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 900;
  src: local('Tajawal Black'), local('Tajawal-Black'),
       url('tajawal-v1-arabic_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('tajawal-v1-arabic_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
